@import url('https://fonts.googleapis.com/css2?family=Doppio+One&family=Readex+Pro:wght@400;500&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Doppio One', sans-serif;
    font-family: 'Readex Pro', sans-serif;
}
.container{
    /*border:2px solid green;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height:600px;
    
}
.checker{
    display: flex;
    flex-direction: column;
    border:2px solid #c7c7c7;
    border-radius: 10px;
    width:500px;
    align-items: center;
    height: 500px;
    
   
}
.form{
    /*border:2px solid green;*/
    width:400px;
    height: 350px;
}
.form-elements{
   /* border:2px solid violet;*/
    height:350px;
}
.label{
    /*border:2px solid red;*/
    display: block;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.input{
    /*border:2px solid yellow; */
    height: 40px;
    width:400px;

}
.submit{
    
    display: flex;
    align-items:center;
    justify-content: center;
}
.submit1{
    height: 35px;
    width:150px;
    margin-top:20px;
    font-size: 1.7rem;
}
.login{
    height: 35px;
    width:150px;
    margin-top:20px;
    font-size: 1.7rem;
}